.EmployeeDetailsBarContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.EmployeeCarousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}


.Employee {
    flex: 0 0 33.333%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.DotsContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ActiveDot {
    background-color: #007bff;
}